In [1]:
#loops: it allows to excecute a block of code repeatedly
#loops types : 1 . for loop 2. while lop

In [2]:
n = 7
i = 1
while i<n:
    print(i)
    i = i+1

1
2
3
4
5
6

In [3]:
# here this code repeats contiusouly till the cides is executed

In [4]:
count = 5
while count >0:
    print (count)
    count = count - 1

5
4
3
2
1

In [5]:
age = 13
year= 1
while year< age:
    print (age)
    age = age -1

13
12
11
10
9
8
7
6
5
4
3
2

In [6]:
# thus in this way while formats works

In [7]:
n = 7
i = 1
while i < n :
    print(i)
    i = i +1
else :
    print("this will be executed when the while loop is run succesfully")

1
2
3
4
5
6
this will be executed when the while loop is run succesfully

In [10]:
n = 7
i = 1
while i < n:
    print(i)
    i = i +1
    if i == 3:
        break
else:
    print("this will be executed when the while loop is run succesfully")

1
2

In [11]:
#break plays an important role to break the chain

In [12]:
# if you want remove the variable from the loop line use continous

In [13]:
# as for examples : break had allowed us to print till 2 in the

In [14]:
# bcz of the break bt as we use CONTINOUS it will jus remove the 3

In [15]:
# which was in  break as used above in the program

In [19]:
n = 7
i = 1
while i < n:
    i = i+1
    if 1 == 3:
        continue
    print(i)
else:
    print(" this will be executed when the while loop is run successfully ")

2
3
4
5
6
7
 this will be executed when the while loop is run successfully

In [20]:
# here where the loop was no rue from their we got the prin

In [21]:
# and else is report as removed from the code

In [22]:
# continue means : that o skip that iteration

In [23]:
# for loops:

In [24]:
# for loops >> iterate overa sequence if elements >> string or list

In [25]:
a =" nishi "
for char in a:
    print(char)

n
i
s
h
i

In [26]:
# here we are able to all the characters one by one

In [34]:
for a in a :
    print(a)

n
i
s
h
i

In [42]:
list = [ 1, 2, 3, "aashish","nishi"]
for i in list:
    print(i)

1
2
3
aashish
nishi

In [44]:
list = [ 1, 2, 3, "aahish","nishi"]
for i in list:
    if i== 3:
        break
    print(i)

1
2

In [46]:
list = [ 1,1,2,3,"aashish","nishi"]
for i in list:
    if i == 3:
        continue
    print(i)

1
1
2
aashish
nishi

In [47]:
# here we have used BREAK and  CONTINUE  in the for loop also

In [57]:
range(0,10)

range(0, 10)

In [59]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

print a pattern using nested loops

In [4]:
num_rows = 5

for i in range(1, num_rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ") 
      
    print()

*
* *
* * *
* * * *
* * * * *

Generate a multiplication table using nested loops

In [7]:
num_rows = 4
num_cols = 4
for i in range(1, num_rows + 1):
    for j in range(1, num_cols + 1):
        result = i * j
        print(f"{i} * {j} = {result}", end="\t")  
    print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16